.link {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-block-start: 30px;
    word-spacing: 20px;
    margin: 0px ;
    background-color: rgb(14, 13, 13) 
  }
  